# Ignore everything by default
*

# Allow specific files and directories
!README.md
!RESULT.sav/
!RESULT_AAAI2026/
!scripts/
!sow_cpp-0.9.5-cp39-cp39-linux_x86_64.whl
!src/
!Conv-Model/

# Allow all contents within the allowed directories
!RESULT.sav/**
!RESULT_AAAI2026/**
!scripts/**
!src/**
!Conv-Model/**
